textarea {
    display: block;
    margin-bottom: 1vh;
}

article {
    background-color: rgb(219, 231, 227);
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    border-radius: 5%;
    border: 3px dotted white;
}

img {
    max-height: 20vh;
    display: block;
    margin: 0 auto;
}