.SmallCard {
    border: 1px solid black;
    width: 60vw;
    margin: 1vh auto;
    padding: 1%;
    display: flex;
    align-items: center;
}

#conteudo-SmallCard {
    margin: 0 2%;
}

@media screen and (max-device-width: 800px) {

    .SmallCard {
        width: 80vw;
    }

}