.BigCard {
    border: 1px solid black;
    margin: 1% 25%;
    padding: 1%;
    display: flex;
    align-items: center;
}

#conteudo-BigCard {
    margin: 0 2%;
}

.BigCard img {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 10vw;
    padding: 5%;
}