.BigCard {
    border: 1px solid black;
    width: 60vw;
    margin: 1vh auto;
    padding: 1%;
    display: flex;
    align-items: center;
}

#conteudo-BigCard {
    margin: 0 2%;
}

.BigCard img {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 10vw;
    padding: 5%;
}

@media screen and (max-device-width: 800px) {

    .BigCard {
        width: 80vw;
    }

}