.ImageButton {
    border: 1px solid black;
    border-radius: 25%;
    margin: 2% 40%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteudo-ImageButton {
    margin: 0 5%;
    padding: 1%;
    border: none;
    background-color: white;
}


.ImageButton img {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 3vw;
    padding: 5%;
}
