* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

section {
    margin: 2vh 2vw;
}

#principal {
    display: flex;
    justify-content: space-between;
}

article {
    border: 1px solid rgb(244, 169, 112);
    width: 25vw;
    padding: 1vh 1vw;
}

.partes, h2, h3, button {
    margin-bottom: 1vh;
}

button {
    padding-right: 1vw;
}

#parte2 {
    display: flex;
}

#filtragem {
    background-color: gray;
    padding: 5vh 5vw;
    border: 5px double rgb(244, 169, 112);
    width: 40vw;
}

#filtragem div {
    background-color: whitesmoke;
    padding: 1vh 1vw;
    border: 2px dotted rgb(244, 169, 112);
    margin-bottom: 1vh;
}

#dentro-filtragem {
    margin: 0;
}

#exibicao {
    background-color: rgb(244, 169, 112);
    padding: 5vh 5vw;
    border: 5px double gray;
    width: 40vw;
}

#exibicao div {
    background-color: whitesmoke;
    padding: 1vh 1vw;
    border: 2px dotted gray;
    margin-bottom: 1vh;
}

#extrato {
    font-size: small;
    padding-bottom: 2px;
}

#extrato p {
    padding-bottom: 5px;
}

#total {
    padding-top: 10px;
}
