body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centraliza-texto{
  text-align: center;
}

.vermelho{
  color: rgb(146, 1, 1);
}

.enorme{
  font-size: 5rem;
}

.paper{
  padding: 1rem;
}

.topo{
  margin-bottom: 1rem;
}

.rodape{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  align-items: center;
}

.botao{
  margin: 0.5rem;
}